<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>X-RapidAPI-Host</key>
		<string>omgvamp-hearthstone-v1.p.rapidapi.com</string>
		<key>X-RapidAPI-Key</key>
		<string>3111e87e19msh3c71ea08afc2e9dp15407ajsn6312f0f43f72</string>
		<key>X-RapidAPI-URL</key>
		<string>https://omgvamp-hearthstone-v1.p.rapidapi.com</string>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
